.about > h1 {
  color: black;
}

.about {
  display: flex;
  flex-direction: column;
  width: 100vh;
  align-items: center;
  justify-content: flex-end;
}

.about-contents {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 1rem 0;
}

strong {
  font-size: 20px;
}
