.contact a {
  color: white;
  text-decoration: none;
  margin: 15px 0;
  width: 5rem;
  margin-bottom: 0;
}

.contact p {
  color: white;
  margin-bottom: 2rem;
}

.contact {
  display: flex;
  flex-direction: column;
}
