@import url('https://fonts.googleapis.com/css2?family=Neuton&family=Volkhov&display=swap');

.fade-appear {
  opacity: 0;
  z-index: 1;
}

.fade-appear.fade-appear-active {
  opacity: 1;
  transition: opacity 1500ms linear;
}

h1 {
  color: white;
  font-size: 60px;
  height: 1rem;
  white-space: nowrap;
  font-weight: 400;
  letter-spacing: 3.25px;
  font-family: 'Volkhov', serif;
}

.sub-text {
  height: 10rem;
  border: 1px #282c34 solid;
}

.sub-text > div > p {
  font-size: 18px;
  color: white;
  width: 40rem;
  margin-top: 5rem;
}

.sub-text > div > p > strong {
  font-family: 'Volkhov', serif;
}
