@import url('https://fonts.googleapis.com/css2?family=Neuton:wght@300&display=swap');

.button {
  color: white !important;
}

/* .button:hover {
  background-color: rgb(104, 104, 104);
} */

.modals:hover > .country-happiness-frontend {
  opacity: 0.5;
}

.modals:hover > .country-happiness-frontend:hover {
  opacity: 1;
}

.modals:hover > .yakyik {
  opacity: 0.5;
}

.modals:hover > .yakyik:hover {
  opacity: 1;
}

.modals:hover > .movie-tv-finder {
  opacity: 0.5;
}

.modals:hover > .movie-tv-finder:hover {
  opacity: 1;
}

.modals:hover > .cotripper {
  opacity: 0.5;
}

.modals:hover > .cotripper:hover {
  opacity: 1;
}

.modals {
  width: 16rem;
  margin-top: 8rem;
  font-weight: 400;
  font-family: 'Neuton', serif;
}

.modals > div > a {
  font-size: 50px;
  margin: 2rem 9rem 1.5rem 0;
  /* line-height: 0px; */
  white-space: nowrap;
}

.modals > div > a > blockquote {
  padding-left: 1.5 rem;
  height: 50px;
  border-left: 4px solid white;
}

.modals p {
  font-size: 20px;
  text-align: center;
  margin: 10px 0;
}

.modals h4 {
  text-align: center;
  text-decoration: underline;
}

.modals .modal_countryhappiness {
  border: solid grey 1px;
}

.modals .modal_movietv {
  margin-left: 15px;
  padding: 1px;
  margin-bottom: 10px;
}

.modals .modal_yakyik {
  width: 755px;
  height: 400px;
  border: solid grey 1px;
  margin: 10px 10px 20px 40px;
}

.modals .modal_cotripper {
  width: 810px;
  height: 410px;
  border: solid grey 1px;
  margin: 10px 10px 20px 20px;
}
