@import url('https://fonts.googleapis.com/css2?family=Neuton:wght@300&display=swap');

.button {
  color: white !important;
}

.modals:hover > .country-happiness-frontend {
  opacity: 0.5;
}

.modals:hover > .country-happiness-frontend:hover {
  opacity: 1;
}

.modals:hover > .yakyik {
  opacity: 0.5;
}

.modals:hover > .yakyik:hover {
  opacity: 1;
}

.modals:hover > .movie-tv-finder {
  opacity: 0.5;
}

.modals:hover > .movie-tv-finder:hover {
  opacity: 1;
}

.modals:hover > .cotripper {
  opacity: 0.5;
}

.modals:hover > .cotripper:hover {
  opacity: 1;
}

.modals {
  width: 16rem;
  margin-top: 8rem;
  font-weight: 400;
  font-family: 'Neuton', serif;
}

.modals > div > a {
  font-size: 50px;
  margin: 2rem 9rem 1.5rem 0;
  white-space: nowrap;
}

blockquote {
  padding-left: 1.5 rem;
  height: 50px;
  border-left: 4px solid white !important;
  color: white;
}

@media only screen and (max-width: 686px) {
  .modals > div > a {
    margin: 6rem 9rem 1.5rem 0;
    white-space: normal;
  }
}
