.skills {
  margin-top: 30rem;
  color: white;
}

.skills-contents {
  display: flex;
  flex-direction: row;
  margin: 7rem 0;
}

.skills-contents p {
  position: relative;
  left: 14rem;
  top: 2rem;
  font-size: 22px;
  text-align: right;
  width: 30rem;
}

.skills-contents h5 {
  width: 15rem;
  position: relative;
  bottom: 3rem;
  left: 7rem;
}

.skills-contents.front h5 {
  position: relative;
  left: 9rem;
}

.b {
  margin-left: 2rem;
}

@media only screen and (max-width: 750px) {
  .skills-contents {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 7rem 0;
  }

  .skills-contents h5 {
    width: 15rem;
    position: relative;
    bottom: 9rem;
    left: 7rem;
  }
  .skills-contents p {
    position: relative;
    /* left: 14rem; */
    top: 2rem;
    font-size: 18px;
    text-align: right;
    width: 30rem;
  }
}
