.skills {
  margin-top: 30rem;
  color: white;
}

.skills-contents {
  display: flex;
  flex-direction: row;
  margin: 7rem 0;
}

.skills-contents p {
  position: relative;
  left: 14rem;

  font-size: 22px;
  text-align: right;
  width: 30rem;
}

.skills-contents h5 {
  width: 14rem;
  position: relative;
  bottom: 4rem;
}

.skills-contents.front h5 {
  position: relative;
  left: 5rem;
  font-size: 30px;
  font-weight: 600;
}

.b {
  margin-left: 2rem;
}

@media only screen and (max-width: 750px) {
  .skills-contents {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 7rem 0;
  }
}
