* {
  margin: 0;
  box-sizing: border-box;
}

.app {
  padding: 0;
  display: flex;
  flex-direction: column;
}

.header {
  background: linear-gradient(350deg, white 25%, #282c34 0%);
  box-sizing: border-box;
  height: 145vh;
}

.nav {
  background-color: white;
}

.main {
  padding-top: 0;
  height: 100vh;
}

.footer {
  background: linear-gradient(350deg, #282c34 81%, white 0%);
  height: 150vh;
}

.material-icons.a {
  border: solid black 2px;
  border-radius: 50%;
  padding: 12px;
  height: 65px;
  font-size: 35px;
  color: white;
  background-color: #282c34;
  margin-right: 25px;
}

.material-icons.b {
  border: solid white 2px;

  border-radius: 50%;
  padding: 12px;
  height: 65px;
  font-size: 35px;
  color: white;
}

.icon {
  margin-left: 1rem;
}
